{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-console": "warn",
    "no-const-assign": "error",
    "no-empty-pattern": "error",
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "eqeqeq": ["error", "smart"],
    "no-var": "error",
    "prefer-exponentiation-operator": "error",
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": "error",
    "brace-style": "error",
    "no-extra-parens": "error",
    "space-in-parens": ["error", "always"],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    "max-len": [
      "error",
      1200,
      {
        "ignoreUrls": true
      }
    ],
    "semi": ["warn", "always"],
    "eol-last": "error",
    "indent": [2, "tab"],
    "import/order": [
      "error",
      {
        "groups": [
          "index",
          "sibling",
          "parent",
          "internal",
          "external",
          "builtin",
          "object",
          "type"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
