ol,
ul {
  list-style: none;
}

.cp {
    cursor: pointer;
}
.flxBetween {
  display: flex;
  justify-content: space-between;
}

.addEditModal .modalTitle {
  color: #121212;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input input {
  background: #fff;
  border: 1px solid #d8e0f0;
  border-radius: 14px;
  box-shadow: 0 1px 2px rgba(184, 200, 224, 0.222);
  font-weight: 400;
  outline: none;
  padding: 16px 18px;
  width: 95%;
}

.input input,
.input label {
  color: #7d8592;
  font-size: 14px;
}

.input label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.modalPriority {
  margin-top: 20px;
}

.modalPriority span {
  color: #7d8592;
  font-size: 14px;
  font-weight: 700;
}

.priorityButtons {
  display: flex;
  gap: 13px;
  margin-top: 12px;
}
.priorityButtons li {
  border: 1px solid #ffbd21;
  border-radius: 10px;
  color: #ffbd21;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  width: 90px;
}

.priorityButtons .high {
  border: 1px solid #f73446;
  color: #f73446;
}

.priorityButtons .highSelected {
  background-color: #f73446;
  color: #fff;
}

.priorityButtons .medium {
  border: 1px solid #ffbd21;
  color: #ffbd21;
}

.priorityButtons .mediumSelected {
  background-color: #ffbd21;
  color: #fff;
}

.priorityButtons .low {
  border: 1px solid #0ac947;
  color: #0ac947;
}

.priorityButtons .lowSelected {
  background-color: #0ac947;
  color: #fff;
}

.flxRight {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.button {
  background: #713fff;
  border: none;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(113, 63, 255, 0.25);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 30px;
}

.button:disabled {
    background-color: #7d8592;
    cursor: not-allowed;
}